absl-py==2.1.0
attrs==25.3.0
bib4llm==0.2.0
bibtexparser==1.4.3
blinker==1.9.0
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.4
colorlog==4.7.2
community==1.0.0b1
contourpy @ file:///C:/b/abs_b0lpi9pj9c/croot/contourpy_1738161183484/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dgl==2.2.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
faiss==1.9.0
filelock==3.13.1
Flask==3.1.0
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
fsspec==2024.6.1
grpcio==1.71.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources @ file:///C:/b/abs_e9f8_0_2dq/croot/importlib_resources-suite_1720641112288/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mpmath==1.3.0
msgpack==1.1.0
narwhals==1.30.0
networkx==3.2.1
numpy @ file:///D:/bld/numpy_1707225561314/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=af5f40857bb7ceb2d3be562fa763863d2f954c104873e89b8ee370f75e047ecf
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///D:/bld/pandas_1736810660203/work
pillow @ file:///D:/bld/pillow_1726075273954/work
plotly==6.0.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
ply==3.11
protobuf==6.30.0
pyarrow==19.0.1
PyMuPDF==1.25.4
pymupdf4llm==0.0.17
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1740946542080/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML==6.0.2
ray==2.43.0
recbole==1.1.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.13.1
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchdata==0.11.0
torchvision==0.21.0+cu118
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm==4.67.1
typing_extensions==4.12.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
urllib3==2.3.0
watchdog==6.0.0
Werkzeug==3.1.3
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
